/*
Trevor Edewaard
Lab05
CS336
.sty file implementing Stylus on my .css file
*/
/*Declaring variables to use in the body*/
body {
  font: 36px Helvetica;
  background: #999;
/* Too narrow to support three columns */
}
body #main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
body #main > article {
  padding: 20px;
  border: 1px solid #000;
  background: #dd8;
  flex: 3 1 60%;
  order: 2;
}
body #main > nav {
  padding: 20px;
  border: 1px solid #000;
  background: #ccf;
  flex: 1 6 20%;
  order: 1;
  text-align: right;
}
body #main > aside {
  padding: 20px;
  border: 1px solid #000;
  background: #ccf;
  flex: 1 6 20%;
  order: 3;
}
body header {
  display: block;
  padding: 20px;
  min-height: 100px;
  border: 1px solid #000;
  background: #feb;
  font-size: 150%;
}
body footer {
  display: block;
  padding: 20px;
  min-height: 100px;
  border: 1px solid #000;
  background: #feb;
  font-size: 50%;
}
@media all and (max-width: 640px) {
  body #main,
  body #page {
    flex-direction: column;
  }
  body #main > article,
  body #main > nav,
  body #main > aside {
/* Return them to document order */
    order: 0;
  }
  body #main > nav,
  body #main > aside,
  body header,
  body footer {
    min-height: 120px /*allows for the writing to stay in box*/;
    max-height: 120px /*upon small screen*/;
  }
  body #main > nav {
    text-align: left /*This moves the nav text to the left*/;
  }
}
